* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(18 69 92);
    padding: 28px 0px;
    position: sticky;
    top: 0px;
}

header .name {
    color: rgb(70 217 217);
    font-size: 22px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

nav ul li {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

nav ul li:hover {
    transform: scale(1.2);
}

.About a {
    color: #65db50;
    text-decoration: underline;
}

nav ul li a:hover {
    color: #65db50;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.section1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(29 75 120);
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 60px 0px;
}

.aboutimg {
    align-self: center;
}

.aboutpara {
    align-self: center;
}

.aboutpara h1 span {
    color: #27b38d;
}

.aboutpara p {
    color: #7bdee9;
    word-spacing: 8px;
    font-size: 1.1rem;
    line-height: 30px;
}

.aboutpara span {
    font-weight: 700;
    color: rgb(237, 229, 229);
}

.aboutpara h1 {
    font-size: 3rem;
    color: #34aab7;
}

#jscard:hover,
.htmlcard:hover,
.csscard:hover {
    box-shadow: 1px 1px 10px rgb(36, 43, 25);
    transform: scale(1.1);
    cursor: pointer;
}

.csscard {
    border: 4px solid #0c8b66;
    padding: 10px 30px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

#jscard {
    border: 4px solid #0c8b66;
    padding: 0px 7px;
    padding-top: 10px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.htmlcard {
    border: 4px solid #0c8b66;
    padding: 10px 5px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.htmlcard img {
    width: 200px;
    height: 200px;
}

.csscard img {
    width: 150px;
    height: 200px;
}

#jscard img {
    width: 200px;
    height: 200px;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #103960;
    padding: 80px 0px;
}

.mainskill {
    display: flex;
    column-gap: 6rem;
}
footer {
    display: flex;
    background-color: rgb(18 69 92);
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    padding: 60px 0px;
}

.h2footer h2 {
    font-size: 2.3rem;
    color: white;
    padding-top: 30px;
}

.anchorfooter {
    display: flex;
    column-gap: 30px;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(39, 73, 62);
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: red;
    color: white;
}

#icon1,
#icon2,
#icon3,
#icon4 {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: rgb(19, 140, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
@media (max-width:991px) {
    header{
        position: static;
    }
    .aboutpara h1{
        text-align: center;
        font-size: 3.5rem;
    }
    .aboutpara p {
        line-height: 28px;
        text-align: center;
    }
}
@media (max-width:770px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    header .name {
       font-size: 2rem;
    }
    .aboutpara p {
        text-align: center;
    }
    .mainskill {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}
@media (max-width:567px) {
    header ul{
        column-gap: 20px;
    }
    #iconremove576{
        display: none;
     }
     .aboutpara p {
        word-spacing: 2px;
        line-height: 30px;
    }
    .h2footer h2 {
        font-size: 2rem;
    }
}
@media (max-width:430px) {
    header ul{
        column-gap: 14px;
    }
    .h2footer h2 {
        text-align: center;
    }
    footer {
        row-gap: 60px;
    }
}
@media (max-width:390px) {
    nav ul{
        column-gap: 30px;
       flex-wrap:wrap;
       row-gap: 15px;
       justify-content: center;
    }
    header .name{
       font-size: 2rem;
    }
    .aboutpara p {
        word-spacing: 3px;
    }
    .section1 {
        padding-top:50px;
    }
    .aboutpara p {
        word-spacing: 2px;
    }
   }
   @media (max-width:330px){
   .aboutimg img{
    width: 300px;
   }
   header .name{
    font-size: 1.8rem;
 }
 .anchorfooter {
    column-gap: 18px;
}
   }