*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 28px 0px;
    background-color: #1b525e;
}
.logoname{
    color: #42c104;
    font-size: 1.4rem;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 30px;
}
nav ul li a{
    text-decoration:none;
   font-size: 1.2rem;
   color: white;
}
nav ul li{
transition-property: all;
transition-duration: 0.3s;
transition-delay: 0.1s;
transition-timing-function: ease-in-out;
}
nav ul li:hover{
    transform: scale(1.2);
}
nav ul li a:hover ,#contact a{
    text-decoration: underline;
    cursor: pointer;
    color: #a4b719;
}
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14979b;
    padding: 100px 0px;
}
.contact input{
    padding: 8px 73px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 1rem;
}
.contact input::placeholder{
    font-style: italic;
    font-weight: bold;
}
.textarea textarea{
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.textarea textarea::placeholder{
    font-style: italic;
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
    font-weight: bold;
}
.contact{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   align-items: center;
}
.contact h1:hover{
    text-decoration: underline;
    text-decoration-color: #15301d;
}
.contact h1{
    font-size: 2.59rem;
    color: #0a2562;
    text-align: center;
}
.image img{
    width: 320px;
}
footer h2{
    font-size: 2rem;
    text-decoration: underline;
    color:#ceffe9;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
   padding: 60px 0px;
    background-color: #338487;

}
footer p{
    line-height: 30px;
    word-spacing: 3px;
    color: #6eff9c;
    font-size: 1.11rem;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.Refresh button:hover{
    cursor: pointer;
    background-color:rgba(189, 8, 8 ,1);
    color: white;
    transform: scale(1.09);
}
.Refresh button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.Refresh i{
    font-size: 18px;
}
.but{
   display: flex;
   justify-content:center; 
}
.but button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transform: scale(1.05);
}
.but button{
    padding: 10px 38px;
    border-radius: 10px;
    border:none;
    font-weight:600;
    font-size: 1.01rem;
    background-color:rgba(189, 8, 8 ,1);
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.button{
    padding-top: 10px;
}
@media (max-width:770px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    header .logoname{
       font-size: 2rem;
    }
    .sec1{
        flex-direction: column;
        row-gap: 80px;
    }
}
@media (max-width:567px) {
    header ul{
        column-gap: 17px;
    }
    #iconremove576{
        display: none;
     }
}
@media( max-width:430px) {
    nav ul{
        flex-wrap:wrap;
        row-gap: 15px;
        justify-content: center;
    }
}
@media (max-width:390px) {
    nav ul{
        column-gap: 25px;
       flex-wrap:wrap;
       row-gap: 15px;
       justify-content: center;
    }
    header .name{
       font-size: 2rem;
    }
   }
@media (max-width:320px) {
    nav ul{
        column-gap:30px;
    }
    header .logoname{
       font-size: 1.8rem;
    }
    .contact input {
        font-size: 0.8rem;
    }
    .textarea textarea {
        padding: 2px;
    }
    .contact h1 {
        font-size: 2.3rem;
    }
    .sec1 {
        padding: 60px 0px;
    }
   }

  