*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #004368 !important;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #1b667a;
    padding: 25px 0px;
}
nav{
    display: flex;
    align-items: center;
}
.logoname{
    font-size:20px;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    column-gap: 30px;
    margin: 0px !important; 
}
ul li:hover{
    transform: scale(1.085);
}
ul li{
    transition: all 0.4s 0.1s ease-in-out;
}
ul li a:hover , .project a{
    border-bottom: 1px solid;
    color:rgb(244, 247, 239);
}
ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18.4px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s 0.1s ease-in-out;
}
.heading{
    text-align: center;
    padding-top: 40px;

}
.heading > big{
    font-size: 2rem;
    color: white;
    transition: 0.3s 0.1s linear;
    border-bottom: 3px solid transparent;
    padding-bottom: 1px;
    font-family: "popins";
}
.heading > big:hover{
    border-bottom: 3px solid;
    text-decoration-color: #c7c2c2;
}
.sec1{
    padding-top: 50px;
    padding-bottom: 60px;
}
.container1{
    display: flex;
    justify-content: center;
    column-gap: 38px;
    padding-top: 30px;
}
.container2{
    display: flex;
    justify-content: center;
    column-gap:38px;
    padding-top: 30px;
}
.container3{
    display: flex;
    justify-content: center;
    column-gap:48px;
    padding-top: 30px;
}
.container0{
    display: flex;
    justify-content: center;
    column-gap:48px;
    padding-top: 30px;
}
.pro1 ,.pro2 ,.pro3 ,.pro4 ,.pro5 ,.pro6 ,.pro02 ,.pro01{
    box-shadow: 1px 1px 10px  rgb(116, 114, 111);
    border: 6px solid rgb(97, 97, 94);
    transition: all 0.4s ease-in-out;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pro1:hover ,.pro2:hover ,.pro3:hover ,.pro4:hover ,.pro5:hover ,.pro6:hover,.pro02:hover ,.pro01:hover{
    transform: scale(1.020);
    cursor: pointer; 
}
.pro01 img ,.pro02 img ,.pro4 img ,.pro5 img{
    width: 400px;
}
.pro3 img {
    width: 400px;
    height: 128%;
}
.pro2 img{
    width: 400px;
    height: 100%;
}
.pro1 img{
    width: 400px;
    height: 150%;
}
.pro6 img{
    width: 400px;
    height: 110%;
}
@media (max-width:770px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    header .logoname{
       font-size: 2rem;
    }
    .container1 ,.container2 ,.container3,.container0{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}
@media (max-width:580px){
    #iconremove576{
        display: none;
     }
     nav ul{
column-gap: 20px;
     }

}
@media (max-width:430px) {
    nav ul{
column-gap: 14px;
padding: 0px;
    }
    ul li a{
        font-size: 1.093rem;
    }
    .heading h1{
        font-size: 2.09rem;
    }
    .sec1 {
        padding-top: 0px;
    }
}
@media (max-width:390px) {
    nav ul{
        column-gap: 18px;
       flex-wrap:wrap;
       row-gap: 10px;
       justify-content: center;
    }
   ul li a{
        font-size: 1.09rem;
    }
    header .name{
       font-size: 2rem;
    }
    .pro1 img, .pro01 img, .pro02 img, .pro2 img, .pro3 img, .pro4 img, .pro6 img, .pro5 img {
        width: 340px;
    }
   }
@media (max-width:330px) {
    nav ul{
        column-gap: 20px;
    }
    header .logoname{
       font-size: 1.8rem;
    }
    .pro1 img, .pro01 img, .pro02 img, .pro2 img, .pro3 img, .pro4 img, .pro6 img, .pro5 img {
        width: 300px;
    }
    .heading {
        font-size: 1.7rem;
    }
   }
