*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #004368;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #1b667a;
    padding: 25px 0px;
}
nav{
    display: flex;
    align-items: center;
}
.logoname{
    font-size: 1.4rem;
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    column-gap: 30px;
}
ul li:hover{
    transform:scale(1.1);
}
ul li{
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
ul li a:hover , .project a{
    text-decoration: underline;
    color:rgb(244, 247, 239);
}
ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18.4px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
header i{
    font-size: px;
}
.heading{
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 40px;
}
.heading:hover{
    text-decoration: underline;
    text-decoration-color: #c7c2c2;
}
.sec1{
    padding-top: 50px;
    padding-bottom: 60px;
}
.container1{
    display: flex;
    justify-content: center;
    column-gap: 38px;
    padding-top: 30px;
}
.container2{
    display: flex;
    justify-content: center;
    column-gap:38px;
    padding-top: 30px;
}
.container3{
    display: flex;
    justify-content: center;
    column-gap:48px;
    padding-top: 30px;
}
.container0{
    display: flex;
    justify-content: center;
    column-gap:48px;
    padding-top: 30px;
}
.pro1 ,.pro2 ,.pro3 ,.pro4 ,.pro5 ,.pro6 ,.pro02 ,.pro01{
    box-shadow: 1px 1px 10px  rgb(179, 199, 1);
    border: 6px solid rgb(255, 250, 254);
    transition: all 0.4s ease-in-out;
    border-radius: 12px;
}
.pro1:hover ,.pro2:hover ,.pro3:hover ,.pro4:hover ,.pro5:hover ,.pro6:hover,.pro02:hover ,.pro01:hover{
    transform: scale(1.055);
    cursor: pointer; 
}
.pro1 img ,.pro01 img , .pro02 img ,.pro2 img,.pro3 img ,.pro4 img ,.pro6 img ,.pro5 img{
    width:400px;
    height: 100%;
}
@media (max-width:770px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    header .logoname{
       font-size: 2rem;
    }
    .container1 ,.container2 ,.container3,.container0{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}
@media (max-width:576px){
    #iconremove576{
        display: none;
     }
}
@media (max-width:430px) {
    nav ul{
column-gap: 14px;
    }
}
@media (max-width:390px) {
    nav ul{
        column-gap: 30px;
       flex-wrap:wrap;
       row-gap: 15px;
       justify-content: center;
    }
   ul li a{
        font-size: 1.3rem;
    }
    header .name{
       font-size: 2rem;
    }
    .pro1 img, .pro01 img, .pro02 img, .pro2 img, .pro3 img, .pro4 img, .pro6 img, .pro5 img {
        width: 340px;
    }
   }
@media (max-width:330px) {
    nav ul{
        column-gap: 20px;
    }
    header .logoname{
       font-size: 1.8rem;
    }
    .pro1 img, .pro01 img, .pro02 img, .pro2 img, .pro3 img, .pro4 img, .pro6 img, .pro5 img {
        width: 300px;
    }
    .heading {
        font-size: 1.7rem;
    }
   }
