*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(189 189 189);
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #155e7e;
    padding: 27px 0px;
}
.logoname{
    font-size: 1.40rem;
    color: aliceblue;
    cursor: pointer;
}
nav ul{
    display: flex;
    column-gap: 25px;
    list-style: none;
} 
ul li:hover{
    transform: scale(1.2);
}
ul li{
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
ul li a:hover ,.service a{
    text-decoration: underline;
    color: white;
    text-decoration-thickness: 2px;
}
ul li a{
    text-decoration: none;
    font-size: 1.22rem;
    color: rgb(255 242 68);
}
.sec1{
    text-align: center;
    font-size: 1.89rem;
    padding: 10px 0px;
    color: #0c679f;
}
.sec1:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
#sec2 img{
    width: 100%;
    height: 60vh;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}
.maincontainer{
    display: flex;
    column-gap: 50px;
}
.card1:hover ,.card2:hover ,.card3:hover{
   cursor: pointer;
   transform: scale(1.033);
}
.card1 ,.card2 ,.card3{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid white;
    padding: 30px 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 2);
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.card1 big:hover ,.card2  big:hover,.card3 big:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.card1 big ,.card2  big,.card3 big{
    font-weight: bold;
    color: #b70829;
}
.head3{
    text-align: center;
}
.card1 p ,.card2  p,.card3 p{
    line-height: 30px;
    word-spacing: 3px;
   opacity: 0.5;
   text-align: center;
}
.text1,.text2,.text3{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #0b0a18;
}
footer {
    display: flex;
    background-color: rgb(100 99 93);
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    padding: 60px 0px;
}

.h2footer h2 {
    font-size: 2.3rem;
    color: white;
    padding-top: 30px;
}

.anchorfooter {
    display: flex;
    column-gap: 30px;
    font-size: 2.5rem;
    text-align: center;
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgb(148, 127, 127);
    color: white;
}

#icon1,
#icon2,
#icon3,
#icon4 {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: rgb(19 50 56);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
@media (max-width:770px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
    }
    header .logoname{
       font-size: 2rem;
    }
    .maincontainer {
    flex-direction: column;
    row-gap: 30px;
    }
}
@media (max-width:567px) {
    header ul{
        column-gap: 15px;
    }
   #iconremove576{
    display: none;
   }
   .h2footer h2 {
  text-align: center;
}
}
@media (max-width:390px) {
    nav ul{
        column-gap: 30px;
       flex-wrap:wrap;
       row-gap: 15px;
       justify-content: center;
    }
   }
   @media (max-width:330px){
    header ul{
        column-gap: 20px;
    }
    header .logoname{
        font-size: 1.8rem;
    }
    .sec1 {
        font-size:1.4rem;
    }
    .anchorfooter {
        column-gap:20px;
        font-size: 1.8rem;
    }
    .h2footer h2 {
        font-size: 2rem;
    }
    #icon1, #icon2, #icon3, #icon4 {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
   }