* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #134068;
    padding: 28px 0px;
    position: relative;
    z-index: 10;
    position: sticky;
    top: 0px;
}

header .name {
    color: rgb(70 217 217);
    font-size: 20px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

nav ul li {
    transition: all 0.3s 0.1s ease-in-out;
}
nav ul li:hover {
    transform: scale(1.085);
}
.home a {
    color: #65db50;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

nav ul li a:hover {
    color: #65db50;
    border-bottom: 1px solid;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: all 0.3s 0.1s ease-in-out;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

.section1 {
    background-color: rgb(15 35 72);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding: 110px 0px;
}

.centerimage img {
    box-shadow: 1px 1px 10px #35b391;
}

.centerimage {
    text-align: center;
}
.centerimage img {
    border: 5px solid white;
    border-color: #115f4a;
    border-radius: 50%;
    width: 55%;
    cursor: not-allowed;
}

.button {
    display: flex;
    column-gap: 18px;
    padding-top: 20px;
}

.button :where(.but1 button , .but2 button){
    border: 3px solid rgb(38, 132, 226);
    border-radius: 6px;
    font-size: 15px;
    background: transparent;
    color: rgb(94, 235, 235);
    transition: all 0.4s 0.1s linear;
    cursor: pointer;
}

.button .but1 button {
    background-color: #0752a2;
    padding: 8px 30px;
}

.button .but1 button:hover {
    transform: scale(1.063);
    box-shadow: 1px 1px 10px skyblue;
}

.button .but2 button {
    padding: 8px 22px;
}

.but2 a , .but1 a {
    text-decoration: none;
    color: rgb(94, 235, 235);
}

.button .but2 button:hover {
    background-color: #0752a2;
    transform: scale(1.063);
    box-shadow: 1px 1px 10px skyblue;
}

.textname {
    color: white;
    font-size: 30px;
}

.textname a {
    color: #16bb76;
}

.section2 {
    background-color: rgb(44 61 92);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px 0px;
}
.introhome{
    width:60%;
    text-align: center;
}
.introhome > p {
    word-spacing: 4px;
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 20px;
}

p a {
    color: #2bfbf1;
    text-decoration: underline;
    text-decoration-color: #5176cc;
    font-size: 3rem;
}

.introhome p span {
    color: #17970f;
}

.myavator  {
    transform: scale(1.5);
}

footer {
    display: flex;
    background: #0e2047;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    padding: 60px 0px;
}

.h2footer h2 {
    font-size: 4rem;
    color: white;
    padding-top: 30px;
}

.anchorfooter {
    display: flex;
    column-gap: 30px;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(39, 73, 62);
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
    transform: scale(1.113);
    cursor: pointer;
    background-color: red;
    color: white;
}

#icon1,
#icon2,
#icon3,
#icon4 {
    background-color: white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: rgb(19, 140, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}
@media (max-width:1024px){
    .introhome{
        width:70%;
    }
}
@media (max-width:991px) {
    header{
        position: static;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .section2 {
    flex-direction: column;
    row-gap: 30px;
    }
}
@media (max-width:780px) {
    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    header .name {
       font-size: 3rem;
    }
    #icon1, #icon2, #icon3, #icon4{
        border-radius: 50%;
        height: 50px;
        width: 50px;
}
.introhome{
    width:83%;
}
.anchorfooter {
    font-size: 3rem;
    column-gap: 20px;
}
}
@media (max-width:567px) {
    header ul{
        column-gap: 20px;
    }
   .h2footer h2{ 
    text-align:center;
    font-size: 30px;
    }
    #iconremove576{
       display: none;
    }
    .introhome > p{
        word-spacing: 2px;
        font-size: 18px;
    }
    .introhome{
        width:92%;
    }
}
@media (max-width:450px) {
 nav ul{
    column-gap:28px;
    flex-wrap:wrap;
    row-gap: 15px;
    justify-content: center;
 }
 header .name{
    font-size: 2.4rem;
 }
 .textname {
    text-align: center;
}
.anchorfooter{
    column-gap: 20px;
}
.textname {
    font-size:26px;
}
}
@media (max-width:390px){
    nav ul li a {
        padding-bottom: 3px !important;
    }
}
@media (max-width:340px) {
    nav ul{
        column-gap:14px;
        justify-content: center;
     }
     .h2footer h2 {
        font-size: 3rem;
    }
    .introhome{
        width:98%;
    }
    .button{
        column-gap: 13px;
    }
    .textname{
        font-size: 22px;
    }
    p a {
        font-size: 2.3rem;
    }
    #icon1, #icon2, #icon3, #icon4{
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 2.6rem;
}
}