* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1d5b91;
    padding: 28px 0px;
}

header .name {
    color: rgb(70 217 217);
    font-size: 20px;
    cursor:pointer;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

nav ul li {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

nav ul li:hover {
    transform: scale(1.2);
}

.home a {
    color: #65db50;
    text-decoration: underline;
}

nav ul li a:hover {
    color: #65db50;
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.allmain1 {
    background: #1e305a;
    height: 815px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.centerimage img:hover {
    box-shadow: 1px 1px 20px rgb(192, 197, 220);
}

.centerimage {
    text-align: center;
}

.centerimage img {
    border: 6px solid white;
    border-color: #353156;
    border-radius: 50%;
    width: 75%;
    cursor: not-allowed;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.button {
    display: flex;
    column-gap: 18px;
}

.button .but1 button,.but2 button {
    border: 3px solid rgb(38, 132, 226);
    border-radius: 6px;
    font-size: 15px;
    background: transparent;
    color: rgb(94, 235, 235);
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
.button .but1 button {
    background-color: #0752a2;
    padding: 8px 25px;
}
.button .but1 button:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px skyblue;
}
.button .but2 button{
    padding: 8px 22px;
}
.button .but2 button:hover {
    background-color: #0752a2;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px skyblue;
}
.top {
    color: white;
    font-size: 30px;
}

.top a {
    color: #16bb76;
}