* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #004368 !important;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1b667a;
    padding: 25px 0px;
}

nav {
    display: flex;
    align-items: center;
}

.logoname {
    font-size: 20px;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    column-gap: 30px;
    margin: 0px !important;
}

ul li:hover {
    transform: scale(1.085);
}

ul li {
    transition: all 0.4s 0.1s ease-in-out;
}

ul li a:hover,
.project a {
    border-bottom: 1px solid;
    color: rgb(244, 247, 239);
}

ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18.4px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.4s 0.1s ease-in-out;
}

.heading {
    text-align: center;
    padding-top: 40px;

}

.heading>big {
    font-size: 2rem;
    color: white;
    transition: 0.3s 0.1s linear;
    border-bottom: 3px solid transparent;
    padding-bottom: 1px;
    font-family: "popins";
}

.heading>big:hover {
    border-bottom: 3px solid;
    text-decoration-color: #c7c2c2;
}

.sec1 {
    padding-top: 50px;
    padding-bottom: 60px;
}
.sec2{
    padding-bottom: 30px;
}
.sec2 a {
    font-weight: bold;
}
#cardhover{
    transition: all 0.3s 0.1s linear;
    cursor: pointer;
}

#cardhover:hover{
    transform: scale(1.0173);
}
footer {
    display: flex;
    background:  #1b667a;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-top:25px;
    padding-bottom:70px;
}

.h2footer h2 {
    font-size: 2.5rem;
    font-style: italic;
    color: white;
    padding-top: 30px;
}

.anchorfooter {
    display: flex;
    column-gap: 30px;
    font-size: 2.3rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(39, 73, 62);
}
#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
    transform: scale(1.013);
    cursor: pointer;
    background-color: red;
    color: white;
}

#icon1,
#icon2,
#icon3,
#icon4 {
    background-color: white;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: rgb(19, 140, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

 @media (max-width:770px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    header .logoname {
        font-size: 2rem;
    }
    footer {
        padding-bottom:50px;
    }
}

@media (max-width:580px) {
    #iconremove576 {
        display: none;
    }

    nav ul {
        column-gap: 20px;
    }
    .h2footer h2 {
    text-align: center;
    }
}

@media (max-width:430px) {
    nav ul {
        column-gap: 14px;
        padding: 0px;
    }

    ul li a {
        font-size: 1.093rem;
    }

    .heading h1 {
        font-size: 2.09rem;
    }
    .anchorfooter {
        column-gap: 20px;
        font-size: 2rem;
    }
}

@media (max-width:390px) {
    nav ul {
        column-gap: 18px;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    ul li a {
        font-size: 1.09rem;
    }

    header .name {
        font-size: 2rem;
    }
}

@media (max-width:330px) {
    nav ul {
        column-gap: 13px;
    }

    header .logoname {
        font-size: 1.8rem;
    }
    .heading {
        font-size: 1.7rem;
    }
    .h2footer h2 {
        font-size: 1.8rem;
    }
    #icon1, #icon2, #icon3, #icon4 {
        background-color: white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    #grocery{
       object-fit: cover;
    }
    .container{
        padding:0px 8px !important;
    }

} 